@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/*

@-moz-document url-prefix() {
  body{ font-weight: normal !important; }

}

*/

body{
  background: #f6f7fa;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat';
}
h1, .h2{
  font-weight: 700;
  font-size: 50px;
}
h2, .h3 {
  font-weight: 700;
  font-size: 24px;
}
h3, .h3 {
  font-weight: 700;
  font-size: 18px;
}

a{ color: #fff; }
a:focus, checkbox { outline: none; }




p {
  font-family: 'Montserrat';
  color: #041A29;
  font-size: 14px;
}

td, tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

::selection {
color: #fff;
background: #8956cf;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
border-radius: 10px;
background-color: #F5F5F5;

}
::-webkit-scrollbar {
width: 6px;
background-color: #F5F5F5;
display:none;
}
::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
background-color: #8956cf;
display:none;
}




.wrapper {
    max-width: 750px;
    margin: auto;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 40px #ccc;
}

.top-chart .col-md-4, .top-chart .col-md-8 {
    padding: 0px;
}
text.highcharts-credits {
    display: none !important;
}

.table-maindiv table {
    width: 100%;
}
.table-maindiv th, td.font-bold {
    font-weight: 900;
    font-family: 'Montserrat';
}
.table-maindiv td {
    padding: 7px 5px;
    vertical-align: top;
}

.table-maindiv th {
    padding: 7px 5px;
    vertical-align: top;
}
.chart-contant {
    line-height: 24px;
    font-size: 15px;
}

.table-maindiv tr:nth-child(even) {background: #f4f4f4}
/*.table-maindiv tr:nth-child(odd) {background: #FFF}*/
.table-maindiv thead {
    background: #eee;
}
.table-maindiv table {
    width: 100%;
    border: 1px solid #ddd;
    margin:0px 0px;
}

section h2:after {
    content: "";
    width: 100px;
    height: 3px;
    background: #000;
    display: block;
    bottom: -10px;
    position: absolute;
}

section h2 {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.table-maindiv {
    width: 100%;
    overflow: auto;
}

.wrapper h1 {
    margin-top: 0;
    line-height: 0.8;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.top-chart .col-md-4 {
    width: 30%;
    display: inline-block;
    float: left;
}

.top-chart .col-md-8 {
    width: 70%;
    display: inline-block;
}





@media only screen and (max-width: 600px) {

.top-chart .col-md-8 {
    width: 100%;
}

.top-chart .col-md-4 {
    width: 100%;
}








}
