<!DOCTYPE html>
<html>
<head>
 <script src="static/js/jquery-1.9.1.min.js"></script>
 <link rel="stylesheet" href="static/css/custom.css">
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/modules/export-data.js"></script>
 <script>
 $(document).ready(function() {


 Highcharts.chart('container2', {
     chart: {
         type: 'column'
     },
     title: {
         text: 'Voters by Gender',
         align: 'left'
     },
     colors: ['#ff5859', '#33d5ad'],
     xAxis: {
         categories: [
             'Women',
             'Men'
         ],
         crosshair: true
     },
     yAxis: {
         min: 0,
         title: {
             text: 'Percent of Registered Voters'
         },
         labels: {
           formatter: function() {
              return this.value+"%";
           }
   }
     },
     exporting: { enabled: false },
     tooltip: {
         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
             '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
         footerFormat: '</table>',
         shared: true,
         useHTML: true
     },
     plotOptions: {
         column: {
             pointPadding: 0,
             borderWidth: 0
         },
         // series: {
         //     color: '#FF0000'
         // }
     },
     series: [{
         name: 'Share',
         showInLegend: false,
         // data: [90, 10],
         data: {{mvwr}},
         colorByPoint: true
         // color: '#FF0000'

     }]
 });



 Highcharts.chart('container', {
     chart: {
         type: 'column'
     },
     title: {
         text: 'Party Afiliation',
         align: 'left',
         weight: 'heavy'
     },
     xAxis: {
         categories: [
             'Mainstream Democrats',
             'Mainstream Republicans',
             'Hardened Democrats',
             'Hardened Republicans',
             'Swing Voters'
         ],
         crosshair: true
     },
     yAxis: {
         min: 0,
         title: {
             text: 'Count (Thousands)'
         }
     },
     exporting: { enabled: false },
     tooltip: {
         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
             '<td style="padding:0"><b>{point.y:.1f}k</b></td></tr>',
         footerFormat: '</table>',
         shared: true,
         useHTML: true
     },
     plotOptions: {
         column: {
             pointPadding: 0,
             borderWidth: 0
         }
     },
     series: [{
         name: 'Women',
         color: '#ff5859',
         showInLegend: false,
         data: {{mvwps[0]}}

     }, {
         name:'Men',
         color: '#33d5ad',
         showInLegend: false,
         data: {{mvwps[1]}}

     }]
 });









 // Thard Graph




 Highcharts.chart('container3', {
     chart: {
         type: 'bar'
     },
     title: {
         text: 'Most Divisive Issues in {{state}}',
         align: 'left'
     },

     yAxis: {
         min: {{ddict['min']}},
         max: {{ddict['max']}},
         title: {
             text: 'Mean Favorability / Belief',
             align: 'high'
         },
         labels: {
           formatter: function() {
              return this.value+"%";
           }
       }
     },

     xAxis: {
          categories: {{ddict['topics']|safe}},
     },

     exporting: { enabled: false },
     tooltip: {
         valueSuffix: '%'
     },
     plotOptions: {
         bar: {
             dataLabels: {
                 enabled: false,
                 align: 'right',
                 color: '#FFFFFF',
                 inside: true,
                 // x: 20
             }
         },
         column: {
             pointPadding: 0,
             borderWidth: 0
         }
     },
     legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         enabled: true,
         y: 0,
         floating: true,
         borderWidth: 0,
         backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
         shadow: true
     },
     credits: {
         enabled: false
     },
     series: [{
         pointPadding: 0,
         pointPlacement: 0,
         name: 'Democrats',
         color: '#0c2950',
         data: {{ddict['dem']}},
         pointPlacement: -0
     },{
         pointPadding: 0,
         pointPlacement: 0,
         name: 'Republicans',
         color: '#910007',
         data: {{ddict['rep']}},
         pointPlacement: -0
     }]

 });






 });



 </script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IQM {{state}} TOPLINE INSIGHTS</title>


</head>

<body>


<div class="main-container">

 <!-- <div>
   <img src = "{{map}}">
 </div> -->

 <div class="wrapper">
   <img src='static/iqm_logo.jpg' style="width: 150px; float:right">
   <h3>STATE BY STATE ANALYSIS</h3>
   <h1>{{fulls}}</h1>
   <!-- <p><font size=6>powered by:</font></p> -->

<div class="dropdown-wrapper">
    <div class="ae-dropdown dropdown">
        <div class="ae-select">
            <span class="ae-select-content"></span>
            <i class="material-icons down-icon"> <img src="static/arrow-down.png"> </i>
        </div>
        <ul class="dropdown-menu ae-hide">
            <li class='selected'><a href="/CA">Select Your State</a></li>

            {% for st in all_states%}

            <li><a href="/{{st}}">{{st}}</a></li>

            {% endfor %}
        </ul>
    </div>
</div>



   <!-- <h1>IQM {{state}} Topline Insights</h1> -->
   <section class="chart-contant">
     <img src = "{{map}}"  style="width: 725px" align="center">
     <p>{{intro}}</p>
   </section>
   <section class="top-chart">
     <div class="col-md-4">
       <div id="container2" style="min-width: 100px; height: 500px; margin: 0 auto"></div>
     </div>
     <div class="col-md-8">
       <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
     </div>
   </section>

   <section class="chart-contant">
     <p>{{para1}}</p>
     <p>{{para2}}</p>
   </section>

   <section>
     <div id="container3" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
   </section>

   <section class="chart-contant">
     <p>{{para3}}</p>

     <p>We think a great way to look at a state's personality is to see how
       voters in that state differ from the typical voter across the country.
        Below, you'll find how voters in groups in {{state}} differ
        from the average voter in their group nationwide.</p>


   </section>

   <section>
     <h2>Outlier Issues for {{state}} Women</h2>

     <div class="table-maindiv">

     <table>
       <thead>
         <th>Political Lean</th>
         <th>Outlier Issue</th>
         <th>{{state}} Average</th>
         <th>U.S. Average</th>
       </thead>

       {% for r in outliers_w%}
       <tr>
         <td class="font-bold">{{r[0]}}</td>
         <td><p>{{r[2]}}</p></td>
         <td><p>{{r[3]}}<font color='#777'>{% if r[3] > r[4] %} &#9650; {% else %} &#9660; {% endif %}</font></p></td>
         <td><p>{{r[4]}}</p></td>
       </tr>
       {% endfor %}
     </table>

     <h2>Outlier Issues for {{state}} Men</h2>

     <table>
       <thead>
         <th>Political Lean</th>
         <th>Outlier Issue</th>
         <th>{{state}} Average</th>
         <th>U.S. Average</th>
       </thead>

       {% for r in outliers_m%}
         <tr>
           <td class="font-bold">{{r[0]}}</td>
           <td><p>{{r[2]}}</p></td>
           <td><p>{{r[3]}}<font color='#777'>{% if r[3] > r[4] %} &#9650; {% else %} &#9660; {% endif %}</font></p></td>
           <td><p>{{r[4]}}</p></td>
         </tr>
       {% endfor %}
     </table>
     </div>

   </section>

   <section class="chart-contant">
     <h2>Methodology</h2>
     <p>The IQM team applies proprietary algorithms to voter files provided to them
        by their customers and their industry-leading data partners, HaystaqDNA and L2.
        The IQM voter intelligence platform combines more than 36,000 voter
        attributes to create an unlimited number of segments that can be viewed,
        analyzed and optimized.</p>
   </section>

 </div>
</div>






<!-- <script src="static/js/main-jquery.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
    $('.ae-select-content').text($('.dropdown-menu > li.selected').text());
        var newOptions = $('.dropdown-menu > li');
        newOptions.click(function() {
        $('.ae-select-content').text($(this).text());
        $('.dropdown-menu > li').removeClass('selected');
        $(this).addClass('selected');
        });

        var aeDropdown = $('.ae-dropdown');
        aeDropdown.click(function() {
        $('.dropdown-menu').toggleClass('ae-hide');
    });

    $( '.center-on-page select option' ).on( 'click', function(e){
          var href = $(this).attr( 'href' );
          $( 'html, body' ).animate({
                scrollTop: $( href ).offset().top
          }, '300' );
          e.preventDefault();
    });




});






</script>

</body>
</html>
